<div class="mt-5">
  <h2>INSTRUCTIONS</h2>
  <ul class="mt-5">
    <li class="text-primary fw-bold fs-4">PLACE <p class="text-primary fs-5">Set the initial location and facing direction of your Robot</p></li>
    <li class="text-warning fw-bold fs-4">MOVE <p class="text-warning fs-5">Move the Robot one position into facing direction</p></li>
    <li class="text-secondary fw-bold fs-4">LEFT <p class="text-secondary fs-5">Change the facing direction of your Robot 90ยบ to the Left</p></li>
    <li class="text-secondary fw-bold fs-4">RIGHT <p class="text-secondary fs-5">Change the facing direction of your Robot 90ยบ to the Right</p></li>
  </ul>
</div>