<h1>Robots#index</h1>
<p>Find me in app/views/robots/index.html.erb</p>

<h1 class="text-primary text-center mt-5">Toy Robot <i class="bi bi-robot text-primary ms-4"></i></h1>

<div class="container w-50 text-center mt-5">
  <button class="btn btn-primary">PLACE</button>
  <button class="btn btn-warning">MOVE</button>
  <button class="btn btn-secondary">LEFT</button>
  <button class="btn btn-secondary">RIGHT</button>
</div>

<div class="d-flex flex-row justify-content-center">
  <%= render 'robots/instructions' %>
  <%= render 'robots/table' %>
  <div>
  </div>
</div>
