<h1 class="text-primary text-center mt-5">Toy Robot</h1>

<div class="container w-50 text-center mt-5">
  <button class="btn btn-primary">PLACE</button>
  <button class="btn btn-secondary">MOVE</button>
  <button class="btn btn-secondary">LEFT</button>
  <button class="btn btn-secondary">RIGHT</button>
</div>

<div class="container text-center mt-5">
  <div class="row w-50 mx-auto">
    <div class="col border col-h">0, 0 <i class="bi bi-robot"></i></div>
    <div class="col border col-h">1, 0</div>
    <div class="col border col-h">2, 0</div>
    <div class="col border col-h">3, 0</div>
    <div class="col border col-h">4, 0</div>
  </div>
    <div class="row w-50 mx-auto">
    <div class="col border col-h">0, 1</div>
    <div class="col border col-h">1, 1</div>
    <div class="col border col-h">2, 1</div>
    <div class="col border col-h">3, 1</div>
    <div class="col border col-h">4, 1</div>
  </div>
    <div class="row w-50 mx-auto">
    <div class="col border col-h">0, 2</div>
    <div class="col border col-h">1, 2</div>
    <div class="col border col-h">2, 2</div>
    <div class="col border col-h">3, 2</div>
    <div class="col border col-h">4, 2</div>
  </div>
    <div class="row w-50 mx-auto">
    <div class="col border col-h">0, 3</div>
    <div class="col border col-h">1, 3</div>
    <div class="col border col-h">2, 3</div>
    <div class="col border col-h">3, 3</div>
    <div class="col border col-h">4, 3</div>
  </div>
    <div class="row w-50 mx-auto">
    <div class="col border col-h">0, 4</div>
    <div class="col border col-h">1, 4</div>
    <div class="col border col-h">2, 4</div>
    <div class="col border col-h">3, 4</div>
    <div class="col border col-h">4, 4</div>
</div>
