
@import "bootstrap/scss/bootstrap.scss";

.box {
  display: flex;
  width: 100%;
}

.col-h {
  height: 120px;
  width: 100px;
}

.row-w {
  width: 600px;
}

.head-robot {
  font-size: 60px;
}

.table-robot {
  font-size: 60px;
  color: rgb(235, 34, 144);
}

.commands {
  width: 300px;
}

span {
  font-size: 14px;
}

.form-label-position {
  width: 70px;
  border: 1px solid rgb(27, 97, 189);
}